

.custom-list {
    list-style-type: none;
    padding: 0;
    text-align:left;
    padding: 20px;
  }

.frame {
    width: 100%;
    padding: 0;
    position: relative;
    background-color: #fafaff;
}

 .cp {
    width: 100%;
}

.hd {
    width: 100%;
    z-index: 0;
    cursor: auto;
}


.img {
    pointer-events: none;
}
.h {
    width: 100%;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: -25px;
}
.p{
    align-content: center;
    font-size: auto;
    line-height: 1.6;
    letter-spacing: 1px;
    margin: auto auto;
    text-align: center; 
    width: 70%;
    align-content: center;
}
.s1 {
    position: absolute;
    z-index: 10;
    top: -100px;
    right: 10%;
    transform: rotate(180deg);
}

 .s2 {
    position: absolute;
    z-index: 10;
    top: 0%;
    left: 5%;
    transform: rotate(180deg);
}

.db1 {
    top: 20%;
    right: 5%;
    transform: rotate(-40deg);
    position: absolute;
    z-index: 10;
}

.db2 {
    bottom: 30%;
    right: 3%;
    transform: rotate(60deg);
    position: absolute;
    z-index: 10;
}
.custom-list li::before {
    content: "✓";
    font-weight: bold;
    font-size: 20px;
    color: lime; /* Optional: Set the color of the text */
  }
.fl {
    width: 200px;
    position: absolute;
    bottom: 0;
    right: 100%;
    transform: rotate(180deg);
}
.cp {
    width: 980px;
    margin: 20px auto 20px;
    padding: 30px 0px;
    position: relative;
    background-color: #f9f9ff;
    border: 1px solid black;
    border-radius: 10px;
}
 .pic {
        max-width: 400px;
         max-height: auto;
    }

.button-section {
    width: 100%;
    text-align: center;
    
     /* Center align the content */
}

.try-now-btn {
    padding: auto auto; /* Adjust the padding as needed */
    font-size: 16px;
    background-color: rgb(146, 119, 243);
    border-radius: 5%;
    cursor: pointer; 
}

.clist, .colist {
    flex-wrap: wrap;
}

.colist-reverse {
    flex-wrap: wrap-reverse;
}

.p-content {
    width: calc(100% - 500px);
    min-width: 400px;
}

.p-content .c-heading {
    width: 100%;
    font-size: 25px;
    opacity: 0.9;
    padding: 0 10px;
}

.p-content ul {
    padding: 10px;
}

.p-content ul li {
    list-style: none;
    padding: 5px 0;
}
.path {
    width: 100%;
    padding: 40px 25px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* extra work*/

@media screen and (max-width: 950px) {   /* for tablets*/
    .cp {
        width: 600px;
    }
    .pic {
        max-width: 60%;
         max-height: auto;
    }
    .p-content {
        min-width: 500px;
    }
}

@media screen and (max-width: 650px) { /* for mobile */
    .cp {
        width: 360px;
    }
    .p-content {
        padding: 0 6px;
        min-width: 300px;
    }
    .cp {
        width: 340px;
    }
    .pic {
        max-width: 60%;
        max-height: auto;
    }
    .h,.p-content .c-heading, .p {
        font-size: 10px;
    }
    .p-content ul li,.p-para, {
        font-size: 10px;
    }
    .fl {
        width: 40px;
    }
    .cright-section {
        height: 200px;
    }
    .cright-line {
        font-size: 10px;
        padding: 10px 10px;
    }
}
